#!/usr/bin/make -f

.ONESHELL:
.SHELL = bash
.SHELLFLAGS = -euc

DEB_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')

clean:
	(
		cd libstrangle
		make clean
	)

build:
	(
		cd libstrangle
		make prefix=/usr
	)

binary:
	rm -rf pkgroot
	mkdir -p pkgroot/DEBIAN
	dpkg-gencontrol -plibstrangle -Ppkgroot
	cp -a debian/postinst pkgroot/DEBIAN
	(
		cd libstrangle
		make install prefix=/usr DESTDIR=../pkgroot
	)
	env | sort
	dpkg-deb --build pkgroot ../libstrangle_$(DEB_VERSION)_$${DEB_TARGET_ARCH}.deb